@page
@model IndexModel
@{
    ViewData["Title"] = "Entra demo";
}

<form method="post">

<div class="container">
    <div class="row">
        <div class="col-sm">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Users</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Users)
                    {
                        <tr class="select-row" onclick="toggleSelectUser(this, '@item.ID')">
                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-sm">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Access</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.AccessPackages)
                    {
                        <tr class="select-row" onclick="toggleSelectAccess(this, '@item.ID')">
                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <button type="submit" class="btn btn-primary">Assign accesses</button>
        </div>
    </div>

</div>

    <input type="hidden" asp-for="SelectedUsers" id="selectedUsers" />
    <input type="hidden" asp-for="SelectedAccesses" id="selectedAccesses" />
</form>
